:root{
  --s-h: 0;
  --e-h: -100vh;
}

body{
  overflow: hidden;
}

body, html{
  margin: 0;
  padding: 0;
}

.p-enter-animation{
  position: absolute;
  z-index: 200;
  width: 100%; height: 100vh;
}

.p-upper-block{
  width: 100%; height: 50vh;
  position: absolute;
  top: 0; left: 0;
  background-color: black;
}

.p-lower-block{
  width: 100%; height: 50vh;
  position: absolute;
  top: 50%; left: 0;
  background-color: black;
}

.p-bar{
  display: inline-block;
  position: absolute;
  width: 45px; height: 3px;
  border-radius: 2px;
  background-color: darkcyan;
}

.menu-top{
  top: 7px; left: 2px;
}

.menu-center{
  top: 23px; left: 2px;
}

.menu-bottom{
  top: 39px; left: 2px;
}

.p-content{
  width: 100%;  height: 100vh;
  position: relative;
  display: block;
}

.p-menuModal{
  width: 100%;  height: 100vh;
  position: absolute;
  top: 0; right: 0;
  background-color: black;
  box-sizing: border-box;
}

.p-modal-link span{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 84px;
  font-family: Constantia, sans-serif;
  transform-origin: center center 0;
  color: darkcyan;
  transition: background-color 1s, color .75s;
}

.p-modal-link span:hover{
  background-color: whitesmoke;
  color: darkred;
  opacity: 0.8;
}

.m-t-anime, .m-c-anime, .m-b-anime{
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.m-t-anime{
  animation-name: m-top-anime;
}

.m-c-anime{
  animation-name: m-center-anime;
}

.m-b-anime{
  animation-name: m-bottom-anime;
}

@keyframes m-top-anime{
  from{
    transform: rotate(0deg) translate(0, 0);
  }
  to{
    transform: rotate(45deg) translate(11.25px, 11.25px);
  }
}

@keyframes m-center-anime{
  from{
    transform: scaleX(1);
  }
  to{
    transform: scaleX(0);
  }
}

@keyframes m-bottom-anime{
  from{
    transform: rotate(0deg) translate(0, 0);
  }
  to{
    transform: rotate(-45deg) translate(11.25px, -11.25px);
  }
}

.x-s-anime{
  animation-name: x-slide-anime;
  animation-timing-function: cubic-bezier(0.0, 0.6, 0.85, 1);
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

.x-s-l-anime{
  animation-name: x-slide-left-anime;
  animation-timing-function: cubic-bezier(0.0, 0.6, 0.85, 1);
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

@keyframes x-slide-anime{
  from{
    opacity: 0.5;
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes x-slide-left-anime{
  from{
    opacity: 0.5;
    transform: translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}

.y-s-anime{
  animation-name: y-slide-anime;
  animation-timing-function: cubic-bezier(.4, .0, .75, 1.0);
  animation-duration: 0.75s;
}

@keyframes y-slide-anime {
  from{
    transform: translateY(var(--s-h));
  }
  to{
    transform: translateY(var(--e-h));
  }
}

.is-hidden{
  display: none;
}

header{
  width: 100%;
  top: 0; left: 0;
  z-index: 100;
  position: fixed;
  display: block;
}

.p-header-contents{
  padding: 5% 100px 0;
  display: flex;
  justify-content: space-between;
}

.p-logo{
  width: auto; height: 50px;
  display: inline-block;
}

.p-logo p{
  margin: 0;
  font-family: Constantia, sans-serif;
  font-size: 48px;
  color: darkcyan;
}

.p-menuIcon{
  width: 50px; height: 50px;
  display: inline-block;
  position: relative;
}

.p-main-body{
  background-color: black;
  opacity: 0.9;
}

.p-top-image-body{
  width: 100%; height: 100vh;
  overflow: hidden;
}

.p-top-image{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0.4;
  background-color: black;
}

.p-image-body{
  overflow: hidden;
  width: 70%; height: 70%;
  display:inline-block;
  position: absolute;
  opacity: 0;
  top: 20%; left: 100px;
}

.p-content-image{
  width: 100%; height: 100%;
  transition: cubic-bezier(0.0, 0.5, 0.8, 1.0) transform 1.5s;
}

.p-content-image:hover {
  transform: scale(1.1);
}

.img-show-anime{
  animation-name: img-showing-anime;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
}

@keyframes img-showing-anime{
  from{
    opacity: 0;
    transform: scale(0.9);
  }
  to{
    opacity: 1;
    transform: scale(1.0);
  }
}

/* スクロール */
.scroll {
  position: absolute;
  top: 80%; left: 50%;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* テキストアニメーション */
.p-text-anime{
  pointer-events: none;
  position: absolute;
  top: 60%; right: 5%;
}

.title {
  overflow: hidden;
  text-align: right;
  transform: translate(150%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  color: darkcyan;
  font-family: Constantia, sans-serif;
}

.title h1{
  margin: 0; padding:0;
  font-size: 96px;
}

.title h2{
  margin: 0; padding:0;
  font-size: 32px;
}

.title h3{
  margin: 0; padding:0;
  font-size: 24px;
}

.title span {
  display: block;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible,
.title.-visible span {
  transform: translate(0, 0);
}